*,
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	font-size: 1rem;
}

.inputs {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2rem;
	border: 2px solid black;
}

.set {
	margin: 0.4rem;
	display: flex;
	justify-content: space-between;
}

/* fieldset {
	margin: 10rem;
	font-size: 1rem;
}

legend {
	text-align: center;
	font-size: 2rem;
}

.inputs {
	display: flex;
	flex-direction: column;
}

.set {
	display: flex;
	justify-content: space-around;
}

.label {
	justify-self: flex-start;
	align-self: flex-start;
} */
