*,
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	font-size: 1rem;
}

.inputs {
	/* width: 30%; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2rem;
	border: 2px solid black;
}

.header {
	text-align: center;
	margin-bottom: 2rem;
}

.set {
	margin: 0.5rem;
	display: grid;
	grid-template-columns: 1fr 1.8fr;
	justify-content: space-between;
	gap: 1rem;
}

.submit {
	margin-top: 0.8rem;
	padding: 0.3rem;
	font-size: 1rem;
	background-color: rgb(42, 165, 165);
	letter-spacing: 0.1rem;
	cursor: pointer;
	box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
	transition: all 0.2s;
}

.submit:hover,
.submit:active {
	box-shadow: 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.3);
}

/* fieldset {
	margin: 10rem;
	font-size: 1rem;
}

legend {
	text-align: center;
	font-size: 2rem;
}

.inputs {
	display: flex;
	flex-direction: column;
}

.set {
	display: flex;
	justify-content: space-around;
}

.label {
	justify-self: flex-start;
	align-self: flex-start;
} */
